#!/usr/bin/env bash

{{ version_control_warn.hashsymb }}

if [[ $- != *i* ]] ; then
    # Shell is non-interactive.  Be done now!
    return
fi

rcfile=
for rcfile in /etc/bash/bashrc.d/* ; do
    [[ -r ${rcfile} ]] && source "${rcfile}"
done

for rcfile in {{ bash_dotdir.bashrc }}/* ; do
    [[ -r ${rcfile} ]] && source "${rcfile}"
done

unset rcfile
