#!/usr/bin/env bash

# Template file installed by Ansible; not subject of version control
# Please extend scripts and such using the sourced directories

if [[ $- != *i* ]] ; then
    # Shell is non-interactive.  Be done now!
    return
fi

rcfile=
for rcfile in /etc/bash/bashrc.d/* ; do
    [[ -r ${rcfile} ]] && source "${rcfile}"
done

for rcfile in {{ bash_dotdir.bashrc }}/* ; do
    [[ -r ${rcfile} ]] && source "${rcfile}"
done

# Try to keep environment pollution down, EPA loves us.
unset rcfile
