#!/usr/bin/env bash

{{ version_control_warn.hashsymb }}

DEVNAME="{{ touchpad_xinput_devname_padkeys }}"

disable_middle_click_on_pad_keys() {
    local -r keysname="$1"
    local -r button_map=$(xinput get-button-map "$keysname" | sed -rn 's/([0-9]) ([0-9]) ([0-9 ]+)/\1 0 \3/p')

    xinput set-button-map "$keysname" $button_map &&
        notify-send "Disable middle click on pad keys $keysname"
}

disable_middle_click_on_pad_keys "$DEVNAME"
