#!/usr/bin/env bash

{{ version_control_warn.hashsymb }}

[[ -r ~/.profile ]] && source ~/.profile

rcfile=
for rcfile in {{ bash_dotdir.profile }}/*; do
    [[ -r ${rcfile} ]] && source "${rcfile}"
done

[[ -r ~/.bashrc ]] && source ~/.bashrc

[[ -r {{ bash_bashrc_private.dest }} ]] && source {{ bash_bashrc_private.dest }}

unset rcfile
