#!/usr/bin/env bash

# Template file installed by Ansible; not subject of version control
# Please extend scripts and such using the sourced directories

[[ -r ~/.profile ]] && source ~/.profile

rcfile=
for rcfile in {{ bash_dotdir.profile }}/*; do
    [[ -r ${rcfile} ]] && source "${rcfile}"
done

[[ -r ~/.bashrc ]] && source ~/.bashrc

[[ -r ~/.bashrc.private ]] && source ~/.bashrc.private

unset rcfile
