#!/usr/bin/env bash

{{ version_control_warn.hashsymb }}

ask_for_ap_scan(){
    echo -e "No\nYes" | dmenu -i -p "Do you want to make a AP scan?"
}

scan_for_aps(){
    connmanctl scan wifi
}

list_aps(){
    connmanctl services
}

select_col(){
    local -r row="$1"
    grep -Po 'wifi_[^\s]+'
}

connect_ap(){
    local -r name=$1

    connmanctl connect $name
}

main(){
    local -r should_rescan=$(ask_for_ap_scan)

    [[ $should_rescan == 'Yes' ]] && scan_for_aps

    local -r apname=$(list_aps | dmenu -i -l 10)
    connect_ap $apname
}

main
